* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: content-box;
    max-height: 100%;
    max-width: 100%;
}

:root {
    --font-principal: Georgia, 'Times New Roman', Times, serif;
  }

.site2 {
    width: 100%;
    
}

a {
    
    text-decoration: none;
}

.bground {
    background-image: url("https://www.colmeia.com.br/wp-content/uploads/2022/06/004_Grta_08-1.jpg");
    background-size: cover;
    min-height: 100vh;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    margin: auto;
    
}



#icon-wpp {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    padding-right: 70px;
}
#icon-wpp img {
    width: 50px;
    height: 50px;
}


.menu {
    display: flex;
    gap: 30px;
    align-items: left;
    justify-content: right;
    padding-top: 12px;
    list-style: none;
    
}


#link1 {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
#link2 {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
#link3 {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
#link4 {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.font {
    font-size: 25px;
    
}

.font2 {
    padding-top: 20px;
    color: black;
    font-family: var(--font-principal);
    font-size: 15px;
}

.banner {
    border-bottom: 2px solid rgb(126, 115, 115);
    margin: 0;
    color: #fff;
    font-size: 50px;
    
}

.efet {
   font-size: 45px;
   margin-bottom: 20px;
   color: #fff;
   
}

.botao {
    margin-top: 250px;
    margin-inline: auto;
    width: 250px;
    height: 55px;
    border:none;
    border-radius: 3px;
    background-color: rgb(243, 241, 241);
    font-size: 20px;
    cursor: pointer;
    
}


 
.services1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.services2 {
    width: 100px;
    height: auto;
    background-color: #faf9fa00;
    border: 3px none rgb(87, 87, 80);
    margin-bottom: 20px;
    border-radius: 50%;
    margin: 20px;
    
}

.services3 {
    width: 95px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 52%;
    
}



.fontservice {
    font-size: 15px;   
    font-family: var(--font-principal);
    text-align: justify;
    width: 40%;
    margin: 0 auto;
    margin-left: auto;
    margin-bottom: 20px;

}


.section1 {
    background-color: #C0C0C0;

}


.testimg {
    width: 250px;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
    
}

.fontp {
    font-size: 13px;
    text-align: justify;
    margin-top: auto;
}

.font3 {
    margin-top: 12px;
    font-size: 35px;
    color: #ffffff;
}

.fontsombreada {
    text-shadow: black 0.1em 0.1em 0.2em;

}

.borda {
    border-bottom: 2px solid rgb(255, 254, 254);
    margin-bottom: 20px;
}

.bgsobre {
    background-color: red;
}


.icons li {
    display: flex;
    align-items: center;
    margin: 10px;

}

.legep {
    width: auto;
    font-size: 17px;
    margin: 50px;
    text-align: center;
    padding-left: 100px;
}

.legep2 {
    width: auto;
    font-size: 17px;
    margin: 50px;
    text-align: center;
    font-size: 17px;
    padding-left: 150px;
}


.legep3 {
    padding-left: 180px;

}

.port {
    background-color: rgb(87, 87, 80);
    background-size:cover;
    text-align: center;
    width: auto;
    padding: 10px;
    height: auto;
    color: #ffffff;;
}

.port2 {
    border-bottom: 2px solid rgb(255, 254, 254);
    padding-bottom: 20px;
    font-size: 40px;
    margin-top: 10px;
}

.item {
    transition: .35s;
    cursor: pointer;
}

.transition1:hover > :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}

.grid {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
    
}


.imag {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 5px;
    
}

.justify {
    text-align: justify;
    color: black;
    
}

.font4 {
    font-size: 50px;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}



.font5 {
    color: #0e0d0d;
    margin-bottom: 10px;
}

.SOBRE {
    margin-top: 0;
    background-color: #C0C0C0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.sobre2 {
    display: flex;
    align-items: center;
}



.sobreimg {
        text-align: center;
        height: 200px;
        margin-inline: auto;
        border-radius: 50%;
        object-fit: cover;
        width: 200px; /* Defina o tamanho da imagem conforme necessário */
        box-sizing: border-box;
        gap: 20px;
        border: 5px solid gainsboro;
        margin-bottom: 20px;
        margin-top: 20px;
    
        
}



.textsobre {
    text-align: center;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.textsobre2 {
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.textsobre3 {
    text-align: center;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.team {
    border-radius: 50%;
    width: 160px;
    height: 180px;
    font-size: 80px;
    display: flex;
    margin: auto 170px auto 170px;
    align-items: center;
    justify-content:center; 
    margin-bottom: 10px;
    object-fit: cover;
    margin-top: 0;

}

.teste {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    
}



.time {
    background-color: rgb(87, 87, 80);
    margin-top: 0;
    text-align: center;
    padding: 20px;
    font-family: var(--font-principal);
    font-size: 25px;
    margin-bottom: 0;

}

.team-caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.teste2 {
    font-size: 80px;
    display: flex;
    align-items: right;
    justify-content:center;   
    text-align: center;
    
}

.icons2 {
    font-size: 30px;
    margin: 5px;
    color: rgb(0, 0, 0);
    
}


.icons3 {
    border: 2px solid red;
    border-radius: 50%;
    background-color: #ffffff;
    height: auto;
    font-size:25px ;
}

.center {
    text-align: center;
}

.parceiros {
    display: inline;
    height: 140px;
    align-items: center;
    justify-content: center;
    margin: auto;
    opacity: 0.20;
    
}

.menu a {
    font-size: 18px;
    color: #fff;
}


div p {
    text-align: center;
    margin: auto;
    font-family: var(--font-principal);
    font-size: 25px;
}

.ajuste {
    margin-top: 100px;
}

h1 {
    text-align: center;
    position:relative
    
}


section p {
    text-align: center;
    margin: 1px;
    font-size: small;
}





#equipe {
    font-size: 35px;
}



.font4 {
    color: #0e0d0d;
    color: #ffffff;
}

.fotos {
    border: 2px none black;
    padding-top: 0;
    background-color: #ffffff;
    border-radius: 5px;
    
}


a:visited {
    color: black;
}

.bgroundforms {
    background-image: url(https://images.unsplash.com/photo-1522083165195-3424ed129620?auto=format&fit=crop&q=80&w=1897&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    min-height: 75vh;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    margin: auto;
    font-family: var(--font-principal);
    
}

.forms {
    width: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 850px;
    
}



#fonte2 {
    font-size: 40px;
    color: black;
}

#titulo {
    color: #ffffff;
    margin-inline: 7%;
    font-size: 50px;

}

#legenda2 {
    color: #ffffff;
    font-size: 20px;
    margin-inline: 7%;
}

.group {
    text-align: center;
}


input {
    border-radius: 5px;
    
}

.campo {
    
    text-align: center;
    color: #ffffff;
    
}

.campo input {
    font-size: 15px;
}

.campo textarea {
    width: 750px;
    height: auto;
}

.campo label {
    font-size: 24px;
}

fieldset {
    border: 0;
}

#mensagem {
    width: 40%;
    
}

.botao2 {
    font-size: 25px;
    border: 0;
    margin-bottom: 1px;
    color: #0e0d0d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}


@media only screen and (max-width: 600px) {   

    

    .menu {
        align-items: right;
        justify-content: center;
    }
    
    #link1 {
        font-size: 15px;
    }

    #link2 {
        font-size: 15px;
    }

    #link3 {
        font-size: 15px;
    }

    #link4 {
        font-size: 15px;
    }

    .banner{
        font-size: 20px;
    }

    .efet {
        font-size: 20px;
        text-align: center;
    }

    .botao {
        width: auto;
        font-size: 15px;
        height: auto;
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 5px;
    }

    .port {
        width: auto;
    }

    .port2 {
        font-size: 30px; /* Reduz o tamanho da fonte para telas menores */
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr; /* Define uma única coluna para telas menores */
        width: 100%;
        height: auto;
        
    }

    .imag {
        width: 100%; /* Ajusta a largura da imagem para preencher a largura da tela */
        object-fit: cover;
        height: auto; /* Mantém a proporção da imagem */
        
    
    }

    .font4, .font3 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .font5 {
        font-size: 12px; /* Reduz o tamanho da fonte do texto do imóvel */
        width: 100%;
    }

    .SOBRE {
    font-size: 12px;
    }

    .sobre2 {
        font-size: 12px;
    }serv

    .textsobre, .textsobre2, .textsobre3{
        font-size: 10px;
    }

    .sobreimg {
        width: 200px;
        object-fit: cover;
        height: 200px;
        border-radius: 50%;
    }

    .services {
        width: auto;
        padding: 0;
    }

    

    .icons {
        margin-inline: 120px;
    }

    .textimg {
        width: 30%;
        height: auto;
    }

    .fontp {
        font-size: 15px;
        text-align: center;
        padding-bottom: 20px;
        padding-inline: 10px;
    }

    .time {
        width: auto;
        height: auto;
    }

    .font4 {
        font-size: 26px;
        
    }

    

    .parceiros {
        width: 85px;
        object-fit: cover;
        height: 70px;
        display:inline;
        margin: auto;
    }

    #titulo, #legenda2 {
        font-size: 25px;
    }

    .campo {
        font-size: 25px;
        
    }

    #nome, #email, #numero{
        font-size: 15px;
    }

    #mensagem {
        height: 50px;
        margin-bottom: 160px;
    }

    .bgroundforms {
        width: 100%;
    }

    .fontservice {
        font-size: 12px;
        text-align: center;
        gap: 30px;
    }

   
}

@media only screen and (min-width: 600px) {
    .grid {
        
        grid-template-columns: 1fr 1fr; /* Define uma única coluna para telas menores */
        width: 100%;
        height: auto;
    }
    .bgroundforms {
        width: 100%;
    }

    .fontp {
        font-size: 20px;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .grid {
        margin: auto;
        
    }

    .parceiros {
        display: inline;
        
    }

    .font5 {
        margin-bottom: 10px;
    }
    
    
}
@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height: auto;
    }

    .banner, .efet {
        font-size: 25px;
    }

    .services {
        width: 100%;
    }

    .bgroundforms {
        width: 100%;
    }
    
}
